
h1 {
  font-family: serif;
  color: red;
  padding: 0 17px;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.box {
  text-align: center;
  margin: auto;
  border: thick double #32a1ce;
  border-radius: 10px;
  width: 20%;
}

button {
  margin: 10px;
  width: 80%;
  background-color: #8ecae6;
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bold;
}

button:hover {
  background-color: #219ebc;
  cursor: pointer;
  transition: 300ms;
}